.contenedor-tarjetas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  width: 80%;
  padding: 50px;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.img {
  width: 400px;
  align-items: center;
  height: 400px;
  background-size: contain;
  border-radius: 5px;
  margin-bottom: 15px;
}

.titulo {
  font-size: 80px;
  margin: 0px;
  align-items: center;
}

body {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/00482fb6-6f66-4e0f-8d86-2e445c07ac9a/d4gvxp6-8d6e27c1-7f70-4e18-a06c-195c4631ab24.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8wMDQ4MmZiNi02ZjY2LTRlMGYtOGQ4Ni0yZTQ0NWMwN2FjOWEvZDRndnhwNi04ZDZlMjdjMS03ZjcwLTRlMTgtYTA2Yy0xOTVjNDYzMWFiMjQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.uRPnCqw05VwOhRoG3dxXj52iYtyFQbMHI1QjG58GnmY);
  filter: brightness(2);
}
